body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Asap", sans-serif;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d46a97), to(#762146));
  background-image: linear-gradient(#d46a97, #762146);
  margin: 0;
  width: 100vw;
}

body #main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f0e4e9;
  border-radius: 25px;
  margin: 15px;
  min-width: 90%;
}

body #main .menu {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 15px;
  text-align: center;
}

body #main .menu .upper-menu {
  height: 150px;
  background-image: -webkit-gradient(linear, left top, right top, from(#a73854), to(#762146));
  background-image: linear-gradient(to right, #a73854, #762146);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

body #main .menu .upper-menu h2 {
  margin-top: 15px;
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

body #main .menu .upper-menu img {
  position: relative;
  margin-top: 50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

body #main .menu .lower-menu {
  padding-top: 50px;
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

body #main .menu .lower-menu nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px 0;
  color: #969696;
}

body #main .menu .lower-menu nav button {
  margin: 10px 0 10px 60px;
  text-align: left;
}

body #main .menu .lower-menu nav button i {
  margin-right: 15px;
}

body #main .menu .lower-menu nav button:hover {
  padding-left: 56px;
  margin-left: 0;
  color: #762146;
  border-left: solid 4px #762146;
}

body #main #root {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px;
}

body #main #root input {
  background-color: #f0e4e9;
  height: 25px;
}

body #main #root h2 {
  background-image: -webkit-gradient(linear, left top, right top, from(#a73854), to(#762146));
  background-image: linear-gradient(to right, #a73854, #762146);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding-left: 30px;
  color: white;
}

body #main #root button {
  background-color: #f4cdde;
  border-radius: 10px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

body #main #root .new-pizza {
  width: 100%;
  border-radius: 25px;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: white;
}

body #main #root .new-pizza form {
  margin: 20px;
}

body #main #root .new-pizza form label {
  display: block;
  margin: 5px 0;
  font-weight: bold;
}

body #main #root .new-pizza form input {
  width: 100%;
}

body #main #root .new-pizza form button {
  width: 100%;
  display: block;
}

body #main #root .new-pizza form :nth-child(11) {
  text-align: center;
}

body #main #root .new-pizza form :nth-child(12) {
  width: auto;
  margin-left: 50%;
}

body #main #root .remove-pizza {
  width: 30%;
  background-color: white;
  border-radius: 25px;
}

body #main #root .remove-pizza h2 {
  margin-bottom: 20px;
}

body #main #root .remove-pizza div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 20px;
  margin-bottom: 5px;
}

body #main #root .remove-pizza div p {
  padding: 5px 10px;
  font-weight: bold;
}

body #main #root .remove-pizza div button {
  padding: 5px 10px;
  margin-right: 20px;
}

body #main #root .modify-pizza {
  width: 100%;
  background-color: white;
  border-radius: 25px;
}

body #main #root .modify-pizza .modify-pizza-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body #main #root .modify-pizza .modify-pizza-cards form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffd9e9), to(#d46a97));
  background-image: linear-gradient(to right, #ffd9e9, #d46a97);
  width: 31%;
  height: auto;
  border: solid 2px #a73854;
  border-radius: 15px;
  margin: 10px;
  padding: 0 10px;
}

body #main #root .modify-pizza .modify-pizza-cards form :nth-child(13),
body #main #root .modify-pizza .modify-pizza-cards form :nth-child(14) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body #main #root .modify-pizza .modify-pizza-cards form label {
  font-weight: bold;
  margin: 10px 0;
}

body #main #root .modify-pizza .modify-pizza-cards form button {
  margin: 5px 75px;
}

body table.orders-table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

body table.orders-table tr:nth-of-type(1n) {
  background: white;
}

body table.orders-table tr:nth-of-type(2n) {
  background: #f7d5d5;
  border-top: 0;
  border-bottom: 0;
}

body table.orders-table tr:hover {
  background: pink;
}

body table.orders-table tr.table-headers {
  background-image: -webkit-gradient(linear, left top, right top, from(#a73854), to(#762146));
  background-image: linear-gradient(to right, #a73854, #762146);
}

body table.orders-table tr.table-headers th {
  color: #fff;
  padding: 20px 20px 20px 10px;
}

body table.orders-table td {
  padding: 20px 20px 20px 10px;
  border: 1px solid #ccc;
}

.order {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  background-color: white;
  border: 1px solid black;
}

.order .statusReport {
  position: absolute;
  bottom: 2.5%;
  left: 44%;
  gap: 10px;
}

.order .statusReport h3 {
  padding-left: 34px;
  padding-bottom: 10px;
}

.order .statusReport .statusTypes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  height: 100px;
  gap: 10px;
}

.order .orderedItem {
  margin: 50px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 26%;
  padding: 25px;
  border: 5px solid #762146;
}

.order .orderedItem .orderItemInfo {
  display: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.order .orderedItem .orderItemInfo p {
  margin: 15px;
}

.order .orderedItem img {
  width: 150px;
  height: 150px;
}

.order .orderButton {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 50px;
  width: 50px;
}

.order .orderButton::before,
.order .orderButton::after {
  position: absolute;
  top: 22px;
  left: 0;
  content: "";
  border-bottom: 6px solid #762146;
  width: 50px;
}

.order .orderButton::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.order .orderButton::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#main.modify .modified {
  left: 0;
}

#main.remove .removed {
  left: 0;
}

#main.add .added {
  left: 0;
}

#main.change .statusChange {
  left: 0;
}

.modified,
.removed,
.added,
.statusChange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 50%;
  left: -300px;
  width: 200px;
  height: 100px;
  margin: 0 auto;
  -webkit-transition: left 500ms;
  transition: left 500ms;
  border: 5px solid black;
  background-color: #d46a97;
}

.loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: white;
  text-align: center;
  margin: 0;
  z-index: 9999;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=admin.css.map */