footer {
  position: absolute;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;

  height: 15%;
  width: 100vw;
  background-color: rgb(49, 80, 80);
}
